<html>

<head></head>


<body>

<h2>Create new post</h2>


<form method='POST' action='add-post'>
<input type='text' placeHolder='title' name='title'>
<input type='text' placeHolder='body' name='postBody'>
<button>Publish</button>
</form>











</body>

</html>