<html>

<head></head>


<body>

<h1>Edit "{{title}}" post</h1>


<form method='POST' action='/update-post/{{postid}}'>
<input type='text' name='updatedTitle' placeHolder='Title'>
<input type='text' name='updatedBody' placeHolder='Body'>
<button>Publish</button>
</form>








</body>

</html>